<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ansim.mapper.InfoMapper">

    <!-- cctv coordinate -->
    <select id="selectCctvInBoundary" parameterType="map" resultType="com.ansim.dto.CctvDTO">
        SELECT id, addr, district, latitude, longitude, type
        FROM INFO_CCTV_COORD_TBL
        WHERE longitude BETWEEN #{bottomLeftLng} AND #{topRightLng}
          AND latitude BETWEEN #{bottomLeftLat} AND #{topRightLat}
    </select>

    <!-- emergbell coordinate -->
    <select id="selectEmergbellInBoundary" parameterType="map" resultType="com.ansim.dto.EmergbellDTO">
        SELECT id, road_addr, addr, police_conn_yn, mng_org, latitude, longitude, type
        FROM INFO_EMERGBELL_COORD_TBL
        WHERE longitude BETWEEN #{bottomLeftLng} AND #{topRightLng}
          AND latitude BETWEEN #{bottomLeftLat} AND #{topRightLat}
    </select>

    <!-- delibox coordinate -->
    <select id="selectDeliboxInBoundary" parameterType="map" resultType="com.ansim.dto.DeliboxDTO">
        SELECT id, addr, addr_nm, latitude, longitude, type
        FROM INFO_DELIBOX_COORD_TBL
        WHERE longitude BETWEEN #{bottomLeftLng} AND #{topRightLng}
          AND latitude BETWEEN #{bottomLeftLat} AND #{topRightLat}
    </select>

    <!-- police coordinate -->
    <select id="selectPoliceInBoundary" parameterType="map" resultType="com.ansim.dto.PoliceDTO">
        SELECT id, addr, police_station_nm, police_office_nm, division, telno, latitude, longitude, type
        FROM INFO_POLICE_COORD_TBL
        WHERE longitude BETWEEN #{bottomLeftLng} AND #{topRightLng}
          AND latitude BETWEEN #{bottomLeftLat} AND #{topRightLat}
    </select>

    <!-- store coordinate -->
    <select id="selectStoreInBoundary" parameterType="map" resultType="com.ansim.dto.StoreDTO">
        SELECT id, addr, store_brand, store_nm, latitude, longitude, type
        FROM INFO_STORE_COORD_TBL
        WHERE longitude BETWEEN #{bottomLeftLng} AND #{topRightLng}
          AND latitude BETWEEN #{bottomLeftLat} AND #{topRightLat}
    </select>

    <!-- 안심 시설 고장 옵션 가져오기 -->
    <select id="selectBrokenTypeByType" parameterType="String" resultType="map">
        SELECT *
        FROM COM_OPT_TBL
        WHERE group_cd = #{topRightLng}
    </select>

    <insert id="insertBrokenReport" parameterType="com.ansim.dto.BrokenReportDTO" >
        INSERT INTO INFO_BROKEN_REPORT_TBL (fac_id, fac_type, broken_opt_cd, content, user_id )
            VALUE (#{fac_id},#{fac_type},#{broken_opt_cd},#{content},#{user_id});
    </insert>

</mapper>