<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ansim.mapper.MasterMapper">

    <!-- cctv 고장신고 수 -->
    <select id = "selectCCTVCount" parameterType="string" resultType="int">
        select count(*) from INFO_BROKEN_REPORT_TBL where fac_type = 'C'
    </select>

    <!-- emergbell 고장신고 수 -->
    <select id = "selectEmergCount" parameterType="string" resultType="int">
        select count(*) from INFO_BROKEN_REPORT_TBL where fac_type = 'E'
    </select>

    <!-- delibox 고장신고 수 -->
    <select id = "selectDeliCount" parameterType="string" resultType="int">
        select count(*) from INFO_BROKEN_REPORT_TBL where fac_type = 'D'
    </select>

    <!-- 최근 7일간 고장신고 등록수 -->
    <select id="reportRegdateCnt" resultType="map">
        SELECT DATE_FORMAT(regdate, '%Y-%m-%d') AS regdate, COUNT(*) AS count
        FROM INFO_BROKEN_REPORT_TBL
        WHERE regdate >= DATE_SUB(CURDATE(), INTERVAL 7 DAY)
        GROUP BY DATE_FORMAT(regdate, '%Y-%m-%d')
        ORDER BY regdate DESC
    </select>


</mapper>