<?xml version="1.0" encoding="UTF-8"?>

   <!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ansim.mapper.MemberMapper">

<!-- 회원가입 memberInfoRegistry -->
<insert id="insertMember" parameterType="com.ansim.dto.MemberDTO">
	insert into MEM_INFO_TBL
	    (user_id, user_nm, password, age, gender, mbti, tel_no, regdate, last_pw_date, pw_chk, role, org_file_nm, stored_file_nm, file_size, ansim_cnt, fromSocial)
	values
	    (#{user_id},#{user_nm},#{password},#{age},#{gender},#{mbti},#{tel_no},now(), #{last_pw_date},1 ,'USER', #{org_file_nm},#{stored_file_nm},#{file_size},#{ansim_cnt},#{fromSocial})
   </insert>

<!-- 아이디 중복 확인 idCheck -->
<select id="selectIdCheck" parameterType="String" resultType="int">
   select count(*) from MEM_INFO_TBL where user_id = #{user_id}
</select>

<!-- 회원정보 가져오기 memberInfo -->
<select id="selectMember" parameterType="String" resultType="com.ansim.dto.MemberDTO">
	select * from MEM_INFO_TBL where user_id = #{user_id}
</select>

<!-- gender code 가져오기 -->
<select id="selectGender" parameterType="int" resultType="String">
	select opt_nm  from COM_OPT_TBL where group_cd=#{grout_cd};
</select>


	<!-- 회원 정보 변경 memberInfoModify -->
<update id="updateMember" parameterType="com.ansim.dto.MemberDTO">
	update MEM_INFO_TBL set
	    org_file_nm=#{org_file_nm}, stored_file_nm=#{stored_file_nm}, file_size=#{file_size},
	    user_nm=#{user_nm},gender=#{gender}, mbti=#{mbti}, tel_no=#{tel_no}
		where user_id=#{user_id}
</update>

<!-- 최종 로그인 시간 lastlogindateUpdate -->
<update id="updateLastLoginDate" parameterType="com.ansim.dto.MemberDTO">
   update MEM_INFO_TBL set last_login_date=#{last_login_date} where user_id=#{user_id}
</update>

<!-- authkey 업데이트 authkeyUpdate -->
<update id="updateAuthkey" parameterType="com.ansim.dto.MemberDTO">
	update MEM_INFO_TBL set authkey = #{authkey} where user_id=#{user_id}
</update>

<!-- authkey를 존재 여부 확인 memberInfoByAuthkey -->
<select id="selectAuthkey" parameterType="com.ansim.dto.MemberDTO" resultType="com.ansim.dto.MemberDTO">
	select * from MEM_INFO_TBL where authkey = #{authkey}
</select>

<!-- 아이디 찾기 searchID -->
<select id="selectSearchId" parameterType="com.ansim.dto.MemberDTO" resultType="string">
	select user_id from MEM_INFO_TBL where user_nm = #{user_nm} and tel_no = #{tel_no}
</select>

<!-- 패스워드 찾기 memberPasswordModify(수정) -->
<update id="updateSearchPassword" parameterType="com.ansim.dto.MemberDTO">
	update MEM_INFO_TBL set password = #{password}, last_pw_date= #{last_pw_date} where user_id = #{user_id}
</update>

<!-- 마지막 로그아웃 날짜 등록 하기 lastlogoutdateUpdate -->
<update id="updateLastLogoutDate" parameterType="com.ansim.dto.MemberDTO">
	update MEM_INFO_TBL set last_logout_date = #{last_logout_date} where user_id = #{user_id}
</update>

<!-- 회원 탈퇴 memberOut -->
<delete id="deleteMember" parameterType="String">
	delete from MEM_INFO_TBL where user_id=#{user_id}
</delete>
	
</mapper>